node_modules
.next
.git
.github
docs
e2e
coverage
.env*
!.env.example
*.md
.husky
.editorconfig
.prettierrc
.eslintrc.json
jest.config.js
jest.setup.js
tsconfig.json
playwright.config.ts
firebase.json
firestore.rules
firebase-storage.rules
